* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* debug */

/* /debug */

/* header */

.flexcenter {
    display: flex;
    align-items: center;
}

.container_header {
    justify-content: space-between;
    background-color: #161b22;
    height: 60px;
}

header .right {
    justify-content: flex-end;
}

.logo img {
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.searchbar {
    margin-right: 15px;
    position: relative;
}

#search{
    color: #b2b3b5;
    background-color: #0d1117;
    border:1px solid #2b3138;
    border-radius: 5px;
    height: 35px;
    width: 250px;
    padding: 5px 10px;
}

#search::placeholder {
    color: #b2b3b5;
}

.searchbar label {
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    transform: translate(0, -50%);
}

.button {
    color: #b2b3b5;
    height: 20px;
    width: 20px;
    border: 1px solid #b2b3b5;
    border-radius: 2px;
    font-weight: bolder;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
}

#search:focus {
    width: 500px;
}

input:focus + label {
    display: none;
}

header a {
    color: white;
    margin-right: 15px;
}

/* /header */

/* main */
/* leftnav */

.flex {
    display: flex;
}

.navfixed {
    width: 25%;
    
}

.navfixed nav {
    height: 100vh;
    flex-direction: column;
    padding: 30px;
    background-color: #0d1014;
}
.navfixed i,.navfixed a,.navfixed h4 {
    color: white;
}

.navfixed .titol {

    justify-content: space-between;
    align-items: center;
}

.navfixed .titol button {
    color: white;
    background-color: green;
    border: none;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    width: 70px;
    cursor: pointer;
}

.navfixed .titol button:hover {
    background-color: rgb(26, 173, 26);
}

.navfixed .titol i {
    margin-right: 5px;
}

.navfixed p {
    color: #2b3138;
    border: 1px dashed #2b3138;
    border-radius: 10px;
    padding: 15px;
}

.mb-10, .navfixed li {
    margin-bottom: 10px;
}

.navsearchbar {
    color: #b2b3b5;
    background-color: #0d1117;
    border:1px solid #2b3138;
    border-radius: 5px;
    height: 35px;
    padding: 5px 10px;
}

.txtbutton {
    color: white;
}

/* /leftnav */

main section.center {
    width: 50%;
}


/* /main */