* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2 {
    color: #cdd0d3; 
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-20{
    margin-right: 20px;
}

/* debug */

/* /debug */

/* header */

.flexcenter {
    display: flex;
    align-items: center;
}

.container_header {
    justify-content: space-between;
    background-color: #161b22;
    height: 60px;
}

header .right {
    justify-content: flex-end;
}

.logo img {
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.searchbar {
    margin-right: 15px;
    position: relative;
}

#search{
    color: #b2b3b5;
    background-color: #0d1117;
    border:1px solid #2b3138;
    border-radius: 5px;
    height: 35px;
    width: 250px;
    padding: 5px 10px;
}

#search::placeholder {
    color: #b2b3b5;
}

.searchbar label {
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    transform: translate(0, -50%);
}

.button {
    color: #b2b3b5;
    height: 20px;
    width: 20px;
    border: 1px solid #b2b3b5;
    border-radius: 2px;
    font-weight: bolder;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
}

#search:focus {
    width: 500px;
}

input:focus + label {
    display: none;
}

header a {
    color: white;
    margin-right: 15px;
}

/* /header */

/* main */
/* leftnav */

.flex {
    display: flex;
}

.navfixed {
    width: 25%;
    
}

.navfixed nav {
    height: 100vh;
    flex-direction: column;
    padding: 30px;
    background-color: #0d1014;
}
.navfixed i,.navfixed a,.navfixed h4 {
    color: white;
}

.navfixed .titol {

    justify-content: space-between;
    align-items: center;
}

.navfixed .titol button {
    width: 70px;
}

button {
    color: white;
    background-color: green;
    border: none;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(26, 173, 26);
}

.navfixed .titol i {
    margin-right: 5px;
}

.navfixed p {
    color: #2b3138;
    border: 1px dashed #2b3138;
    border-radius: 10px;
    padding: 15px;
}

.mb-10, .navfixed li {
    margin-bottom: 10px;
}

.navsearchbar, .init_rep input {
    color: #b2b3b5;
    background-color: #0d1117;
    border: 1px solid #2b3138;
    border-radius: 5px;
    height: 35px;
    padding: 5px 10px;
}

.navsearchbar:focus, .init_rep input:focus {
    border: 2px solid #0060df;
}

.txtbutton {
    color: white;
}

/* /leftnav */

/* center */

main section.center {
    width: 50%;
    background-color: #010409;
    color: #cdd0d3 ;
    padding: 30px;
}

.center .titol {
    margin-bottom: 30px;
}

h1 {
    font-size: 30px;
}

.center .head {
    width: 100%;
    justify-content: space-between;
}

.center .head .right i {
    font-size: 3px;
}

.center p {
    color: #696b6e;
}

.row {
    margin-bottom: 20px;
}

.row .head .left i {
    color: #484d55;
    background-color: #b1bac4;
    border-radius: 50%;
    padding: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.center .content_row {
    background-color: #0d1117;
    border: 1px solid #2b3138;
    border-radius: 5px;
    padding: 20px;
    width: calc(100% / 2 - 20px);
}

.content_row .public i, .private i {
    font-size: 30px;
    color: #696b6e;
}

.container_row .left button {
    width: 200px;
}

.container_row .right .head_table button {
    width: 70px;
}

.container_row .right .head_table {
    background-color: #0d1117;
    border: 1px solid #2b3138;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

.container_row .right .table_content {
    padding: 10px;
    border: 1px solid #2b3138;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content_row .description a {
    color: #0060df;
}

.content_row .description a:hover {
    text-decoration: underline;
}

.content_row .description i {
    font-size: 40px;
}

.container_row .left img {
    width: 100%;
    object-fit: cover;
}

.github_flow a {
    color: white;
    background-color: #21262d;
    border: 1px solid #2e3238;
    border-radius: 5px;
    padding: 5px 10px;
}

.github_flow a:hover {
    background-color: #404244;
    border: 2px solid #616e7e;
}

.menu_up_footer .head a {
    color: white;
    padding: 20px;
    border-bottom: 1px solid #2b3138;
}

/* fake */

.menu_up_footer .head .first {
    border-bottom: 2px solid #f78166;
}

/* /fake */

.menu_up_footer .head a:focus {
    border-bottom: 2px solid #f78166;
}

.menu_up_footer .head a span {
    margin-left: 5px;
    color: #39a849;
    border: 1px solid #39a849;
    border-radius: 10px;
    padding: 0 5px;
    font-size: 10px;
}

.menu_up_footer .content {
    border-top: 1px solid #2b3138;
    border-bottom: 1px solid #2b3138;
    padding: 20px 0;
}

.menu_up_footer .content i {
    font-size: 30px;
}

.menu_up_footer .content .description a {
    color: white;
    font-weight: bold;
}

.menu_up_footer .content span {
    font-size: 10px;
    color: #696b6e;
}

.menu_up_footer .content .users {
    justify-content: space-between;
    margin-left: 100px;
    background-color: #0d1117;
    border: 1px solid #2b3138;
    border-radius: 5px;
    padding: 10px;
}

.users .info .name  a {
    color: white;
}

.users .info .about a {
    font-size: 10px;
    color: #696b6e;
}

.content .users .follow a {
    color: white;
    background-color: #21262d;
    border: 1px solid #2e3238;
    border-radius: 5px;
    padding: 5px 10px;
}

.menu_up_footer .advice i {
    color: #696b6e;
}


.menu_up_footer .advice span {
    font-size: 10px;
    color: #696b6e;
}

.menu_up_footer .advice a {
    font-size: 10px;
    color: #0060df;
}

.menu_up_footer .advice a:hover {
    text-decoration: underline;
}

.menu_up_footer .advice .subscribe a {
    color: #696b6e;
}

.menu_up_footer .advice .subscribe i {
    cursor: pointer;
}

.subscribe span:hover i {
    color: #0060df;
}

.subscribe span:hover #subscribe {
    color: #0060df;
    text-decoration: underline;
}

.menu_up_footer {
    margin-bottom: 50px;
}

.copyright i {
    font-size: 30px;
}

.copyright {
    margin-right: 150px;
}

.link a {
    color: #696b6e;
    font-size: 12px;
}

.link ul {
    width: 100px;
}

main section.right {
    width: 25%;
    background-color: #010409;
    color: #cdd0d3 ;
    padding: 30px;
}

section.right .container {
    background-color: #0d1117;
    border: 1px solid #2b3138;
    border-radius: 5px;
    padding: 20px;
}

.container .titol {
    justify-content: space-between;
}

.container .titol .left i {
   font-size: 30px;
}

.container .titol .left h2{
    font-size: 20px;
}

section.right .container .content a {
    color: white;
    width: 100%;
    text-align: center;
    background-color: #21262d;
    border: 1px solid #2e3238;
    border-radius: 5px;
    padding: 5px 10px;
}

section.right .container .content a:hover {
    background-color: #404244;
    border: 2px solid #616e7e;
}

.sub_container .description p {
    width: 150px;
}

.sub_container .icons {
    flex-wrap: wrap;
}

.sub_container .icons .icon {
    padding: 10px;
}

.sub_container .icons .img1 {
    border-bottom: 1px solid #717274;
}


.sub_container .icons .icon img {
    border-radius: 7px;
    width: 30px;
    object-fit: cover;
}

.container_changes a {
    color: #cdd0d3;
}

.container_changes a:hover {
    color: #0060df;
    text-decoration: underline;
}

.container_changes .time {
    color: #484d55;
    font-size: 12px;
}

.container_changes .view a {
    color: #484d55;
    font-size: 12px;
}

.container_changes .view a:hover {
    color: #0060df;
    text-decoration: none;
}

.container_changes ul li {
    list-style-type: disc;
    font-size: 25px;
    color: #2e3238;
}

.container_changes ul {
    padding-left: 17px;
    border-left: 1px solid #2e3238;
}

/* /center */

/* /main */